@font-face {
    font-family: 'MikhakMedium';
    src: url("https://aminabedi68.github.io/Mikhak/Mikhak/Mikhak-Medium.woff2") format('woff2');
}
* {
    margin: 0;
    padding: 0;
    font-family: "MikhakMedium";

}
li{
    list-style-type: none;
}
p {
    line-height: 1.3rem;
}
a {
    text-decoration: none;
}
:root{
    --bacgroundWeb: #9ad6f5;
    --backgroundHeader: #184070;
    --backgroundPostBlue: #2c8fc1;
    --Bob: #f5d72b;
    --patric: #f48887;
    --whait: #fff;
    --zardTalaei: #ffc107;
    --siahTire: #212121;
    --abiFirooze: #00bcd4;
    --surati: #ff4081;
}



body {
    background: var(--siahTire);
    color: white;
    /* height: 2000px; */
}

@media (max-width: 480px) {
    body {
        font-size: 16px;
    }
    aside {
        background-color: #2b2b2b;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    aside ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    aside button {
        
        border-radius: 10px;
        padding: 0 1rem;
        border: none;
        background: var(--siahTire);
        color: rgb(135, 135, 135);
        width: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;

    }
    aside button:hover{
        background: var(--Bob);
        color: var(--backgroundHeader);
    }
    .btnNav {
        background-color: var(--Bob);
        color: var(--backgroundHeader);
    }

    .hidden {
        display: none;
    }
    main {
        text-align: center;

    }
    #articleKhane , #articleMoshakhasat , #articleTamasha , #articlePorofail {
       opacity: 1;

    }
    
    /* home ---- */
    #articleKhane .banner {
        background: url("./images/Header.jpg");
        background-size: cover;
        background-position: center;
        height: 15rem;
        overflow: hidden;
    }
    #articleKhane .banner div {
        background: linear-gradient(to bottom, 
        rgba(0, 0, 0, 0) 85%, #212121 100%
        );
        height: 15rem;
    }
    .backMatlab {
        background: var(--zardTalaei);
        margin: 1rem 1rem 0rem;
        padding: 1rem 1rem 8rem;
        border-top-left-radius: 90px;
        border-top-right-radius: 90px;
        overflow: hidden;
        color: white;
    }

    
    .titleWeb {
        background: rgba(0, 0, 0, 0.8);
        color: var(--Bob);
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        margin: 0 3rem 2rem;
        border-radius: 25px;
    }
    .backBakhsh1 {
        color: black;
        border-radius: 25px;
        margin-bottom: 1rem;
        padding: 0.5rem 1rem;

    }
    .backBakhsh2{
        background: rgba(0, 0, 0, 0.5);
        border-radius: 1rem;
        margin-bottom: 1rem;
        padding: 0.5rem;
    }
    .bio {
        
        font-size: 12px;
        line-height: 1.1rem;
    }
    
    
    .nameEnWeb {
        background: rgba(0, 0, 0, 0.5);
        color: var(--zardTalaei);
        border-radius: 2rem;
    }

    /* moshakhasat */
    #articleMoshakhasat {
        padding: 1rem 1rem 6rem;
    }
    .divTitle {
        color: var(--zardTalaei);
        border: 0.05rem solid ;
        border-radius: 10px;
        padding: 0.2rem 1rem;
    }
    .divTitle p {
        font-size: 18px;
        font-weight: 700;

    }
    .divImageSerial{
        height: 10rem;
        overflow: hidden;
        padding: 1rem;
    }
    .divImageSerial img {
        height: 10rem;
        border-radius: 25px;
    }
    .divNameSerial {
        background:#ffc107;
        color: #212121;
        font-weight: 600;
        font-size: 14px;
        margin-bottom: 1rem;
        border-radius: 1rem;
    }
    .tableInfoSerial {
        border: solid var(--zardTalaei);
        border-radius: 1rem;
        padding: 0.5rem;
        text-align: right;
        font-size: 12px;
    }
    .tableInfoSerial th {
        background: rgba(255, 255, 255, 0.2);
        width: 6rem;
        padding: 0.1rem 0.3rem;
        border-radius: 1rem;
    }
    .tableInfoSerial td {
        background: rgb(0, 0, 0, 0.2);
        padding: 0.1rem 0.3rem;
        border-radius: 1rem;
        overflow: hidden;
    }
    /* jostejo */

    #articleJosteju {
        font-size: 0.77rem;
        padding: 1.5rem 0rem 5rem;
    }
    .searchBox {
        padding: 1rem 1rem;
    }
    .searchInput {
        border: none;
        outline: none;
        padding: 0.5rem 1rem;
        border-radius: 25px;
        width: 80%;
        direction: ltr;
        height: 2rem;
    }
    .searchBoxNatayej {
        margin-top: 1rem;
        padding: 0rem 0rem 1rem;
    }

    /* tamasha */
    .divPInfo {
        background: var(--zardTalaei);
        font-size: 14px;
        color: black;
        padding: 0.5rem 1rem;
    }
    .sectionDiv {
        padding: 0 1rem 0;
    }
    .classSeasonsSelection {
        width: 80%;
        height: 3rem;
        margin: 1rem 1rem 2rem;
        border: none;
        background: var(--patric);
        text-align: center;
        border-radius: 1rem;
        padding: 0 1rem;
        outline: none;
    }
    .boxEpisode {
        background: black;
        border-radius: 1rem;
        padding: 1rem 1rem;
        margin: 0 1rem 5rem;
    }
    .divEpisode {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background: rgba(255, 255, 255, 0.5);
        border-radius: 1rem;
        margin-bottom: 0.3rem;
        direction: ltr;
        font-size: 14px;
        align-items: center;
        padding: 0.1rem 1rem;
        overflow: hidden;
    }
    .divEpisode:hover {
        background: var(--Bob);
        color: black;
    }
    .boxDandW button{
        border: none;
        padding: 0.1rem 0.5rem;
        border-radius: 1rem;
        background: rgba(0, 0, 0, 0.5);
        color: white;
    }
    .boxDandW button:hover {
        background: var(--patric);
        color: black;
        border: 0.01rem solid;
    }
    .boxNoSend {
        background: var(--surati);
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
    }
    /* profail */
    #articlePorofail .banner {
        
        background: url("./images/LogoHeader.jpg");
        background-size: cover;
        background-position: bottom;
        height: 23rem;
        overflow: hidden;
    }
    #articlePorofail .banner div {
        
        background: linear-gradient(to bottom, 
        rgba(0, 0, 0, 0) 85%, #212121 100%
        );
        height: 23rem;
    }
    .backPorof {
        background: var(--zardTalaei);
        margin: 2rem 1rem 0;
        padding: 1.5rem 1rem 8rem;
        border-top-left-radius: 25%;
        border-top-right-radius: 25%;
        color: black;
        overflow: hidden;
    }
    .pBold {
        font-weight: 600;
    }
    .p {
        font-size: 0.7rem;
    }
    .divSoshal {
        margin: 2rem 0 5rem;
    }
    .soshal {
        background-color: rgba(0, 0, 0, 0.7);
        color: white;
        border-radius: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        flex-direction: row-reverse;
        margin: 0.3rem 1rem;
        padding: 0.1rem 1rem;
        font-weight: 500;
        font-size: 12px;
        gap: 0.5rem;
    }
    .soshal:hover {
        background: var(--abiFirooze);
        border: solid;
    }
    #divChannel .svg , #divPv .svg{
        background: url("./icons/telegram-01.svg");
        height: 1rem;
        width: 1rem;
    }
    #divGmail .svg {
        background: url("./icons/email-01.svg");
        height: 1rem;
        width: 1rem;
    }
    #divWeb .svg {
        background: url("./icons/home-01.svg");
        height: 1rem;
        width: 1rem;
    }

}
